* {
    font-family: sans-serif;
}

.centered {
    text-align: center;
}

h1 {
    color: yellow;
}

h2 {
    color: blue;
}

h3 {
    color: green;
}

h4 {
    color: red;
    text-align: center;
}

ol {
    color: orange;
}

ul {
    color: purple;
}

div {
    text-align: center;
}
